<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="_">
    <meta name="keywords" content="_">
    <meta name="author" content="@Html.Raw(ViewBag.Config.Author)">
    <meta name="generator" content="uBlog">
    <title>@Html.Raw(ViewBag.Title)</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <environment names="Development">
        <link href="~/css/skeleton.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="modal" id="modal">
        <div class="modal-content">
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" method="post">
                <input type="password" placeholder="Password" name="Password" id="password" autofocus />
                <i class="fa fa-lock" aria-hidden="true"></i>
            </form>
        </div>
    </div>
    <nav>
        <div class="container">
            <div class="row">
                <a asp-controller="Posts" asp-action="Index"><img src="~/images/@ViewBag.Config.Photo" class="logo" /> <b class="name">@ViewBag.Config.Author</b></a>
                <a asp-controller="Posts" asp-action="Index">Home</a>
                <a asp-controller="Tags" asp-action="Index">Tags</a>
                <a asp-controller="About" asp-action="Index">About</a>
                <a id="login" href="javascript:;"><i class="fa fa-lock" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <footer class="row">
            &copy; @DateTime.Now.Year @Html.Raw(ViewBag.Config.Author) <br />
            <small>Powered by <a href="https://github.com/musicvano/ublog" title="Version @ViewBag.Version">uBlog</a></small>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js"></script>
    </environment>
    <script id="dsq-count-scr" src="//mvano.disqus.com/count.js" async></script>
</body>
</html>
