<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="@Html.Raw(ViewBag.Author)">
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)">
    <meta name="generator" content="uBlog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(ViewBag.Title)</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link href="~/css/skeleton.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/libs/prism/prism.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/skeleton.min.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/libs/prism/prism.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header></header>
    <nav>
        <div class="container">
            <a asp-controller="Posts" asp-action="Index"><img src="~/images/@ViewBag.Photo" class="logo" alt="Logo" /> <b class="name">@Html.Raw(ViewBag.Author)</b></a>
            <a asp-controller="Posts" asp-action="Index">Home</a>
            <a asp-controller="Tags" asp-action="Index">Tags</a>
            <a asp-controller="About" asp-action="Index">About</a>
            <div class="u-pull-right">
                <a asp-controller="Search" asp-action="Index"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a asp-controller="Rss" asp-action="Index"><i class="fa fa-rss" aria-hidden="true"></i></a>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" id="login"><i class="fa fa-lock" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div class="container">
            &copy; @DateTime.Now.Year @Html.Raw(ViewBag.Author) <br />
            <small>Powered by <a href="https://github.com/musicvano/ublog" title="Version @AppSettings.Version">uBlog</a></small>
        </div>
    </footer>
    <script src="~/libs/prism/prism.js"></script>
    <script id="dsq-count-scr" src="//@(ViewBag.DisqusName).disqus.com/count.js" async></script>
    @Html.Partial("GoogleAnalytics")
</body>
</html>
