@model PostModel

<div class="article-header">
    <h1><a class="link-text" asp-controller="Posts" asp-action="Details" asp-route-slug="@Model.Slug">@Html.Raw(Model.Title)</a></h1>
    <div class="row">
        <div class="one-third column">
            <i class="fa fa-calendar" aria-hidden="true"></i> @Model.DateCreated.ToString("MMM d, yyyy")
        </div>
        <div class="two-thirds column">
            <i class="fa fa-tags" aria-hidden="true"></i>
            @foreach (var tag in Model.Tags)
            {
                <a class="link-text tag" asp-controller="Tags" asp-action="Details" asp-route-slug="@tag.Slug">@tag.Name</a>
            }
        </div>
    </div>
</div>