@model UserModel
@{
    ViewBag.Title = $"About – {Model.Username}";
    ViewBag.Description = "Information about author";
    ViewBag.Keywords = Model.Username;
}

<header>
    <h1>@Model.Username</h1>
</header>
<div class="row">
    <p>@Model.About</p>
</div>
<div class="row">
    <div class="one-half column">
        <img src="~/images/@Model.Photo" class="photo u-max-full-width" alt="Photo" />
    </div>
    <div class="one-half column">
        @if (!string.IsNullOrEmpty(Model.Url))
            {
            <i class="fa fa-external-link" aria-hidden="true"></i>
            <a href="@Model.Url">@Html.CleanUrl(Model.Url)</a> <br />
        }
        @if (!string.IsNullOrEmpty(Model.Email))
            {
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="mailto:@Model.Email">@Model.Email</a> <br />
        }
        @if (!string.IsNullOrEmpty(Model.Github))
            {
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="@Model.Github">@Html.CleanUrl(Model.Github)</a> <br />
        }
        @if (!string.IsNullOrEmpty(Model.Facebook))
        {
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <a href="@Model.Facebook">@Html.CleanUrl(Model.Facebook)</a> <br />
        }
        @if (!string.IsNullOrEmpty(Model.Twitter))
        {
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="@Model.Twitter">@Html.CleanUrl(Model.Twitter)</a> <br />
        }
        @if (!string.IsNullOrEmpty(Model.Skype))
        {
            <i class="fa fa-skype" aria-hidden="true"></i> @Model.Skype <br />
        }
        @if (!string.IsNullOrEmpty(Model.Location))
            {
            <i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Location <br />
        }
    </div>
</div>