@model UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About me";
}

<section class="section">
    <div class="container content">
        <h1 class="title">About me</h1>
        <div class="columns">
            <div class="column"><p>@Model.About</p></div>
            
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <img src="~/images/@Model.Photo" class="photo u-max-full-width" alt="Photo" />
            </div>
            <div class="column">
                @if (!string.IsNullOrEmpty(Model.Url))
                {
                    <span class="icon"><i class="mdi mdi-open-in-new"></i></span>
                    <a href="@Model.Url">@UrlHelper.CleanUrl(Model.Url)</a> <br />
                }
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <span class="icon"><i class="mdi mdi-at"></i></span>
                    <a href="mailto:@Model.Email">@Model.Email</a> <br />
                }
                @if (!string.IsNullOrEmpty(Model.Github))
                {
                    <span class="icon"><i class="mdi mdi-github-face"></i></span>
                    <a href="@Model.Github">@UrlHelper.CleanUrl(Model.Github)</a> <br />
                }
                @if (!string.IsNullOrEmpty(Model.Facebook))
                {
                    <span class="icon"><i class="mdi mdi-facebook"></i></span>
                    <a href="@Model.Facebook">@UrlHelper.CleanUrl(Model.Facebook)</a> <br />
                }
                @if (!string.IsNullOrEmpty(Model.Twitter))
                {
                    <span class="icon"><i class="mdi mdi-twitter"></i></span>
                    <a href="@Model.Twitter">@UrlHelper.CleanUrl(Model.Twitter)</a> <br />
                }
                @if (!string.IsNullOrEmpty(Model.Skype))
                {
                    <span class="icon"><i class="mdi mdi-skype"></i></span> @Model.Skype <br />
                }
                @if (!string.IsNullOrEmpty(Model.Location))
                {
                    <span class="icon"><i class="mdi mdi-map-marker"></i></span> @Model.Location <br />
                }
            </div>
        </div>
    </div>
</section>
