<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="@Html.Raw(ViewBag.Author)">
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)">
    <meta name="generator" content="uBlog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(ViewBag.Title)</title>
    <base href="/" />
    @Html.Partial("Styles")
</head>
<body>
    <header></header>
    <nav class="navbar container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a asp-controller="Posts" asp-action="Index" class="navbar-item">
                <img src="~/images/@ViewBag.Photo" alt="@Html.Raw(ViewBag.Author)" width="32" class="is-rounded" />
                <b>@Html.Raw(ViewBag.Author)</b>
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a asp-controller="Posts" asp-action="Index" class="navbar-item">Home</a>
                <a asp-controller="Tags" asp-action="Index" class="navbar-item">Tags</a>
                <a asp-controller="About" asp-action="Index" class="navbar-item">About</a>
                <a asp-controller="Search" asp-action="Index" class="navbar-item"><i class="mdi mdi-magnify mdi-18px"></i></a>
                <a asp-controller="Rss" asp-action="Index" class="navbar-item"><i class="mdi mdi-rss mdi-18px"></i></a>
                <a asp-controller="Admin" asp-action="Index" class="navbar-item"><i class="mdi mdi-lock mdi-18px"></i></a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer class="footer">
        <div class="container has-text-centered">
            &copy; @DateTime.Now.Year @Html.Raw(ViewBag.Author) <br />
            <small>Powered by <a href="https://github.com/musicvano/ublog" title="Version @AppSettings.Version">uBlog</a></small>
        </div>
    </footer>
    @Html.Partial("Scripts")
</body>
</html>
