@inject IConfigService configService
@inject IUserService userService
@{
    var admin = userService.GetAdmin();
    var config = configService.Get();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="@Html.Raw(admin.Username)">
    <meta name="description" content="@Html.Raw(ViewBag.Title + " — " + admin.Username)">
    <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)">
    <meta name="generator" content="uBlog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(ViewBag.Title + " — " + admin.Username)</title>
    <base href="/" />
    @Html.Partial("Styles")
</head>
<body>
    <nav class="navbar has-background-white-bis" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a asp-controller="Posts" asp-action="Index" class="navbar-item">
                    <img src="~/images/@admin.Photo" alt="@Html.Raw(admin.Username)" width="40" height="40" style="border-radius:50%" />
                    <b>@Html.Raw(admin.Username)</b>
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">
                    <a asp-controller="Posts" asp-action="Index" class="navbar-item">Home</a>
                    <a asp-controller="Tags" asp-action="Index" class="navbar-item">Tags</a>
                    <a asp-controller="About" asp-action="Index" class="navbar-item">About</a>
                    <div class="navbar-item">
                        <form asp-controller="Search" asp-action="Index" method="get">
                            <div class="control has-icons-left">

                                <input class="input is-rounded is-small" type="text" placeholder="Search" name="text" value="@ViewBag.Text">
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-magnify mdi-18px"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <a asp-controller="Rss" asp-action="Index" class="navbar-item"><span class="icon"><i class="mdi mdi-rss mdi-18px"></i></span></a>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer">
        <div class="container has-text-centered">
            &copy; @DateTime.Now.Year @Html.Raw(admin.Username)
            <a asp-controller="Admin" asp-action="Index"><span class="icon"> <i class="mdi mdi-lock mdi-18px"></i></span></a>
            <br />
            <small>Powered by <a href="https://github.com/musicvano/ublog" title="Version @AppSettings.Version">uBlog</a></small>
        </div>
    </footer>
    @Html.Partial("Scripts")
</body>
</html>
