@model uBlog.Data.Entities.Post
@{
    ViewBag.Title = Model.Slug;
}

<h1>@Model.Title</h1>
<p>@Model.Content</p>
Tags: 
@foreach(var postTag in Model.PostTags)
{
    <strong>@postTag.Tag.Name</strong>
}
<p>@Model.PublishedDate.Value.ToShortDateString()</p>
@foreach(var comment in Model.Comments)
{
    <p>@comment.Text</p>
}